<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <h1>

    </h1>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
        <p>{{error404}}</p>
    </div>

    {{>footer}}
</body>

</html>